
body{
    background-color: darkcyan;
    text-align: center;
}

header{
    display: flex;
}

.title-box {
    display: flex;
    position: relative;
    margin: auto;
}

h1 {
    display: inline-block;
    font-family: monospace;
    text-decoration: underline;
    text-decoration-color: rgb(160, 160, 255);
    font-size: 3rem;
    letter-spacing: 0.3rem;
}


/* ==================== */
.game-options{
    display: inline-block;
    font-family: monospace;
    /* border: 1px solid black; */
    height: 60px;

}

.settings{
    font-size: 1.5rem;
    margin: auto;
}


button{
  appearance: button;
  background-color: #1899D6;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  box-sizing: border-box;
  color: black;
  cursor: pointer;
  display: inline-block;
  font-family: din-round,sans-serif;
  font-size: 15px;
  font-weight: 600;
  letter-spacing: .8px;
  line-height: 15px;
  margin: 0;
  outline: none;
  padding: 5px 5px;
  /* vertical-align: middle; */
} 
   
.button-start{
 cursor: pointer;
}

/* ==================== */
.bonus{
    padding: 10px;

    display: flex;
    justify-content: space-evenly;
    /* border: 1px solid black; */

}



/* ==================== */
.instructions{
    /* border: 1px solid black; */
    padding: 10px;
    margin: auto;
    height: 60px;
    width: 400px;
}

.content{
    font-family: din-round,sans-serif;
}

.content span{
    padding: 5px;

}

.lost{
    background-color: red;
}
.won{
    background-color: green;
}


img{
    display: block;
    width: 100%;
    height: 100%
}

.table-container{
    display: flex;

}

table {
    margin: 20px auto;
    border-spacing: 0px;
    border: 0.6px solid rgb(12, 12, 12);
}

.game-info-panel {
    padding: 5px;
    line-height: 2;
    font-weight: bold;
    justify-content: center;
    font-family: "digital-7";
    
}

.timer {
    font-weight: bold;
    font-size: 1.1875rem;
}


.cell {
    text-align: center;
    color: white;
    padding: 0px;
    height: 25px;
    width: 25px;
}

.sky {
    background-color: black
}

.ground{
    background-color:brown
}